{%- liquid
  if collection.metafields.custom.long_description != blank
    assign collection_description = collection.metafields.custom.long_description.value
  else
    assign collection_description = collection.description
  endif

  assign related_links_menu = section.settings.related_links

  if section.settings.related_links_title != blank
    assign related_links_heading = section.settings.related_links_title
  else
    assign related_links_heading = related_links_menu.title
  endif
-%}

{%- if section.settings.show_collection_description and collection_description != blank -%}
  {%- style -%}
    #shopify-section-{{ section.id }} .image-overlay {
      --heading-color: {{ section.settings.image_text_color.red }}, {{ section.settings.image_text_color.green }}, {{ section.settings.image_text_color.blue }};
      --text-color: {{ section.settings.image_text_color.red }}, {{ section.settings.image_text_color.green }}, {{ section.settings.image_text_color.blue }};
      --section-items-alignment: center;
      --section-overlay-color: {{ section.settings.image_overlay_color.red }}, {{ section.settings.image_overlay_color.green }}, {{ section.settings.image_overlay_color.blue }};
      --section-overlay-opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }

    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} .article__header-content-alone.article__header-content {
        padding-top: 40px;
        padding-bottom: 48px;
      }
    }

    #shopify-section-{{ section.id }} .read-link {
      display: inline;
      text-decoration: underline;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    #shopify-section-{{ section.id }} .readless-link {
      display: block;
    }

    #shopify-section-{{ section.id }} .link-bar {
      box-shadow: none;
      display: block;
      position: relative;
    }

    #shopify-section-{{ section.id }} .link-bar .label-list {
      display: flex;
      pointer-events: auto;
      white-space: nowrap;
    }

    #shopify-section-{{ section.id }} .link-bar .label-list:not(.link-bar__scroller-list) {
      padding-bottom: 8px;
      padding-top: 4px;
    }

    #shopify-section-{{ section.id }} .link-bar .label-list .label {
      background: rgb(var(--background-light));
      border-radius: min(calc(var(--block-border-radius-reduced) / 2), 2px);
      color: rgb(var(--text-color));
      display: inline-block;
      font-family: var(--text-font-family);
      font-size: 12px;
      font-style: var(--text-font-style);
      font-weight: var(--text-font-weight);
      letter-spacing: -0.05;
      padding: 4px 10px;
      text-transform: none;
      vertical-align: top;
    }
  {%- endstyle -%}

  <div class="container">
    <blog-post-header class="article__header{% if section.settings.separator_line != 'none' %} article__header--bordered-{{ section.settings.separator_line }}{% endif %} article__header-is-page-banner">
      <div class="article__header-content{% unless collection.image and section.settings.show_collection_image %} article__header-content-alone{% endunless %} text--{{ section.settings.text_alignment }} text-container">
        {%- if section.settings.show_collection_title -%}
          {%- if section.settings.subtitle != blank -%}
            <span class="heading heading--xsmall text--subdued">{{ section.settings.subtitle }}</span>
          {%- endif -%}
          <h2 class="article__title text--body text--strong h5">{{ collection.title }}</h2>
        {%- endif -%}

        {%- if section.settings.show_collection_description and collection_description != blank -%}
          <div id="collection-banner-header-text" class="article__excerpt collection__banner-header-text text--small">
            {%- if collection_description != blank -%}
              {%- if collection_description.size > 100 and section.settings.show_read_more -%}
                <div
                  class="readmore-short"
                  aria-controls="readmore-full"
                  aria-hidden="false"
                  aria-expanded="false"
                  style="display: block;"
                >
                  {{- collection_description | truncate: 100 -}}
                  <button
                    class="readmore-link read-link"
                    onclick="readMore(event)"
                  >
                    Read more
                  </button>
                </div>
                <div
                  class="readmore-full"
                  aria-controls="readmore-full"
                  aria-hidden="true"
                  aria-expanded="false"
                  style="display: none;"
                >
                  {{- collection_description -}}
                  <button class="readless-link read-link" onclick="readLess(event)">Read less</button>
                </div>
              {%- else -%}
                <div>{{- collection_description -}}</div>
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </blog-post-header>
  </div>
{%- endif -%}

{%- comment -%}
  ------------------------------------------------------------------------------------------
  RELATED LINKS PART
  ------------------------------------------------------------------------------------------
{%- endcomment -%}
{%- if section.settings.show_related_links and related_links_menu.links.size > 0 -%}
  <link-bar class="link-bar text--{{ section.settings.text_alignment }}">
    <div class="container">
      <div class="link-bar__wrapper{% if section.settings.separator_line_menu != 'none' %} article__header--bordered-{{ section.settings.separator_line_menu }}{% endif %}">
        <span class="link-bar__title heading heading--xsmall text--subdued">{{ related_links_heading }}</span>
        <div class="link-bar__scroller hide-scrollbar">
          <div class="link-bar__scroller-list label-list label-list--horizontal">
            {%- for link in related_links_menu.links -%}
              <a href="{{ link.url }}" class="label">
                {{- link.title -}}
              </a>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </link-bar>
{%- endif -%}

{% if section.settings.show_read_more %}
  <script>
    function readMore(event) {
      event.preventDefault();
      var descriptionShort = document.querySelector('.readmore-short');
      var descriptionFull = document.querySelector('.readmore-full');

      descriptionShort.style.display = 'none';
      descriptionShort.setAttribute('aria-expanded', false);
      descriptionShort.setAttribute('aria-hidden', true);

      descriptionFull.style.display = 'block';
      descriptionFull.setAttribute('aria-expanded', true);
      descriptionFull.setAttribute('aria-hidden', false);
    }

    function readLess(event) {
      event.preventDefault();
      var descriptionShort = document.querySelector('.readmore-short');
      var descriptionFull = document.querySelector('.readmore-full');

      descriptionShort.style.display = 'block';
      descriptionShort.setAttribute('aria-expanded', false);
      descriptionShort.setAttribute('aria-hidden', false);

      descriptionFull.style.display = 'none';
      descriptionFull.setAttribute('aria-expanded', false);
      descriptionFull.setAttribute('aria-hidden', 'true');
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "Collection footer",
  "tag": "section",
  "class": "shopify-section--collection-footer",
  "settings": [
    {
      "type": "paragraph",
      "content": "To change collection descriptions, [edit your collections](/admin/collections)."
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "Show description read more button",
      "default": false
    },
    {
      "type": "select",
      "id": "separator_line",
      "label": "Show separator line",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Related links menu"
    },
    {
      "type": "checkbox",
      "id": "show_related_links",
      "label": "Show related links",
      "default": false,
      "info": "Show a [custom menu linklist](/admin/menus) using the same handle as the collection's handle."
    },
    {
      "type": "text",
      "id": "related_links_title",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "related_links",
      "label": "Menu",
      "info": "This menu won't show dropdown items."
    },
    {
      "type": "select",
      "id": "separator_line_menu",
      "label": "Show separator line",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ],
      "default": "none"
    }
  ]
}
{% endschema %}
