{%- liquid
  assign collection_sort_by = collection.sort_by | default: collection.default_sort_by

  assign collection_text_after_title = collection.metafields.custom.text_after_title

  assign has_collection_image = false
  assign second_collection_image = collection.metafields.custom.second_image
  assign has_collection_description = false

  assign collection_tags = collection.metafields.custom.tags
  assign has_collection_tags = false

  assign has_footer_collection_description = false

  assign has_results_count = false
  if section.settings.show_collection_count and collection.products_count > 0
    assign has_results_count = true
  endif

  assign has_sort_by = false
  if section.settings.show_sort_by and collection.products_count > 0
    assign has_sort_by = true
  endif

  assign has_filters = false
  if section.settings.show_filters and collection.filters != empty and collection.products_count > 0
    assign has_filters = true
  endif

  assign has_mobile_meta_buttons = 0
  if has_sort_by and has_filters
    assign has_mobile_meta_buttons = 2
  elsif has_sort_by or has_filters
    assign has_mobile_meta_buttons = 1
  endif

  assign active_filters_count = 0
  for filter in collection.filters
    if filter.type == 'list' or 'boolean'
      assign active_filters_count = active_filters_count | plus: filter.active_values.size
    elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value
      assign active_filters_count = active_filters_count | plus: 1
    endif
  endfor

  for block in section.blocks
    case block.type
      when 'collection_image'
        if second_collection_image or collection.image
          assign has_collection_image = true
        endif
      when 'collection_description'
        if collection.description != blank
          assign has_collection_description = true
        endif
      when 'collection_tags'
        if collection_tags != blank
          assign has_collection_tags = true
        endif
      when 'collection_footer'
        assign collection_footer_title = block.settings.title
        assign collection_footer_description = block.settings.text
        if collection_footer_description != blank and block.settings.show_collection_description
          assign has_footer_collection_description = true
        endif
    endcase
  endfor
-%}

{{ 'main-collection.css' | asset_url | stylesheet_tag }}

{%- if has_footer_collection_description -%}
  {{ 'component-read-more-less.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'component-read-more-less.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --grid-columns: {{ section.settings.mobile_products_per_row | at_most: 2 }};
    --grid-columns-desktop: {{ section.settings.desktop_products_per_row | at_least: 3 | at_most: 4 }};
    --mobile-meta-button-count: {{ has_mobile_meta_buttons }};
  }

  {%- if section.settings.show_sort_by or section.settings.show_filters and collection.filters != empty -%}
    @media screen and (max-width: 999px) {
      :root {
        --anchor-offset: 60px;
      }
    }
  {%- endif -%}
{%- endstyle -%}

<div class="container container-grid">
  <product-facet
    section-id="{{ section.id }}"
    class="product-facet{% if section.settings.filter_position == "right" and section.settings.show_filters and collection.filters != empty %} is-reversed{% endif %}{% if section.settings.filter_appearance == "drawer" %} is-drawer{% endif %}{% if section.settings.filter_appearance == "drawer" or section.settings.show_filters == false or collection.filters == empty %} has-hidden-aside{% endif %}{% if has_collection_image %} has-collection-image{% endif %}{% if section.settings.desktop_products_per_row == "4" %} collection-grid-has-four{% endif %} grid"
  >
    <!-- -- START: Facet Aside -- -->
    {%- if has_filters -%}
      {%- if section.settings.filter_appearance == 'always_visible' -%}
        <div class="product-facet__aside">
          <safe-sticky offset="20px" class="product-facet__aside-inner">
            <div class="product-facet__filters-header">
              <span class="heading--small">{{ 'collection.general.filters' | t }}</span>
            </div>
            {%- render 'facet-filters',
              filters: collection.filters,
              filters_position: section.settings.filter_appearance
            -%}
          </safe-sticky>
        </div>
      {%- else -%}
        {%- render 'facet-filters',
          filters: collection.filters,
          filters_position: section.settings.filter_appearance
        -%}
      {%- endif -%}
    {%- endif -%}

    <!-- -- START: Product-facet__main -- -->
    <div
      id="facet-main"
      class="product-facet__main anchor"
      role="region"
      aria-live="polite"
    >
      <!-- -- START: product-facet__meta-bar -- -->
      {%- if section.settings.show_collection_title or has_results_count or has_sort_by or has_filters -%}
        <div class="product-facet__meta-bar anchor">
          <!-- -- START: product-facet__meta-bar-header -- -->
          {%- if section.settings.show_collection_title -%}
            <header class="product-facet__meta-bar-header">
              <span class="product-facet__heading">
                <{{ section.settings.title_tag }} class="product-facet__title {{ section.settings.title_size }}">
                  {{- collection.title -}}
                </{{ section.settings.title_tag }}>
                {%- if section.settings.show_collection_text_after_title
                  and collection_text_after_title.value != empty
                -%}
                  <span class="product-facet__inline-subtitle text--small text--subdued">
                    {{- collection_text_after_title.value -}}
                  </span>
                {%- endif -%}
              </span>
              <!-- -- START: product-facet__meta-bar-item--count -- -->
              {%- if has_results_count -%}
                <{{ section.settings.counts_tag }}
                  class="product-facet__meta-bar-item--count text--small text--subdued"
                  role="status"
                >
                  {{- 'collection.general.products_count_html' | t: count: collection.products_count -}}
                </{{ section.settings.counts_tag }}>
              {%- endif -%}
            </header>
          {%- endif -%}

          <!-- -- START: product-facet__meta-bar-items-wrapper -- -->
          {%- if has_mobile_meta_buttons > 0 or has_results_count -%}
            <div class="product-facet__meta-bar-items-wrapper">
              <!-- -- START: product-facet__meta-bar-item--filter -- -->
              {%- if has_filters -%}
                <button
                  type="submit"
                  is="toggle-button"
                  class="product-facet__meta-bar-item--filter popover-button popover-button-button icon-to-left tap-area{% unless section.settings.filter_appearance == 'drawer' %} hidden-lap-and-up{% endunless %}"
                  aria-controls="facet-filters"
                  aria-expanded="false"
                >
                  <span class="product-facet__meta-bar-item--filter-inner">
                    {%- render 'icon' with 'filters', inline: true -%}
                    {{- 'collection.general.show_filters' | t -}}
                  </span>
                  {% if active_filters_count > 0 -%}
                    <span class="product-facet__active-count bubble-count">{{ active_filters_count }}</span>
                  {%- endif %}
                </button>
              {%- endif -%}

              <!-- -- START: product-facet__meta-bar-item--sort -- -->
              {{ 'component-select.css' | asset_url | stylesheet_tag }}
              {%- if has_sort_by -%}
                <form class="product-facet__meta-bar-item--sort select-dropdown" aria-live="polite" role="form">
                  <label
                    id="nativeSortByLabell"
                    class="dropdown-label visually-hidden"
                    for="nativeSortBy"
                    role="label"
                  >
                    {{- 'collection.general.sort_by' | t -}}
                  </label>
                  <select
                    name="sort_by"
                    id="nativeSortBy"
                    class="select-input select-input--solid"
                    aria-labelledby="nativeSortByLabel"
                    aria-describedby="a11y-refresh-page-message"
                    aria-controls="collections-list-section"
                    role="listbox"
                  >
                    {%- for sort_option in collection.sort_options -%}
                      <option
                        value="{{ sort_option.value }}"
                        {% if sort_option.value == collection_sort_by %}
                          selected
                        {% endif %}
                      >
                        {{ sort_option.name }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {%- render 'icon' with 'form-select', inline: true -%}
                </form>
                <script>
                  // constants.js
                  const SORT_BY_ID = 'nativeSortBy';
                  const CRITERIA_CHANGED_EVENT = 'facet:criteria-changed';

                  // utility.js
                  function updateUrlAndDispatchEvent(element, key, value) {
                    const currentUrl = new URL(location.href);
                    currentUrl.searchParams.set(key, value);
                    currentUrl.searchParams.delete('page');

                    element.dispatchEvent(
                      new CustomEvent(CRITERIA_CHANGED_EVENT, {
                        bubbles: true,
                        detail: {
                          url: currentUrl.toString(),
                        },
                      })
                    );
                  }
                  // main.js
                  document.addEventListener('DOMContentLoaded', function () {
                    document.body.addEventListener('change', function (event) {
                      const nativeSortBy = document.getElementById(SORT_BY_ID);

                      if (event.target === nativeSortBy) {
                        updateUrlAndDispatchEvent(nativeSortBy, 'sort_by', event.target.value);
                      }
                    });
                  });
                </script>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      <!-- -- START: product-facet__active-list | hidden-tablet-and-up -- -->
      {%- if active_filters_count > 0 -%}
        <div class="product-facet__active-list pill-list-wrapper list-is-scroller hidden-tablet-and-up">
          <ul class="pill-list" role="list">
            <li class="pill-list--item" role="listitem">
              {%- render 'facet-active-filters', filters: collection.filters -%}
            </li>
          </ul>
        </div>
      {%- endif -%}

      <!-- -- START: product-facet__meta-bar-item--description -- -->
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'collection_description' -%}
            {%- if has_collection_description -%}
              <div class="product-facet__meta-bar-item--description">
                <span class="product-facet__description rte">{{- collection.description -}}</span>
                {% comment %} <a class="product-facet__description-read-more link link--inline heading--small">See more</a> {% endcomment %}
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}

      <!-- -- START: product-facet__meta-bar-item--tags -- -->
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'collection_tags' -%}
            {%- if has_collection_tags -%}
              <div class="product-facet__meta-bar-item--tags pill-list-wrapper list-is-scroller">
                <ul class="pill-list" role="list">
                  {%- for tag in collection_tags.value -%}
                    <li class="pill-list--item" role="listitem">
                      {%- if tag.tag_link != blank -%}
                        <a href="{{- tag.tag_link -}}">
                      {%- endif -%}
                      <span class="pill{% if tag.tag_link != blank %} pill-button text--semibold{% else %} pill-outline{% endif %} text--small">
                        {{- tag.tag_text -}}
                        {%- if tag.tag_link != blank and tag.tag_help_tip != blank -%}
                          <span
                            class="pill-icon icon-to-right"
                            aria-label="{{ tag.tag_help_tip | escape }}"
                            data-tooltip="{{ tag.tag_help_tip | escape }}"
                          >
                            {%- render 'icon' with 'form-info', class: 'tap-area tap-area--xlarge text--muted' -%}
                          </span>
                        {%- elsif tag.tag_link != blank -%}
                          <span
                            class="pill-icon icon-to-right"
                            aria-label="{{ tag.tag_text | escape }}"
                          >
                            {%- render 'icon' with 'link-external-arrow',
                              class: 'tap-area tap-area--xlarge text--muted'
                            -%}
                          </span>
                        {%- endif -%}
                      </span>
                      {% if tag.tag_link != blank -%}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}

      {%- if collection.products_count > 0 -%}
        <!-- -- START: Facet Product List -- -->
        {%- paginate collection.products by section.settings.products_per_page -%}
          <product-list
            class="product-facet__product-list product-list anchor"
            id="#collection"
            {% if settings.stagger_products_apparition %}
              stagger-apparition
            {% endif %}
          >
            {%- if section.settings.filter_appearance == 'always_visible'
              and section.settings.show_filters
              and collection.filters != empty
            -%}
              {%- assign sidebar_width = 240 -%}
            {% else %}
              {%- assign sidebar_width = 0 -%}
            {%- endif -%}
            <div
              class="product-list__inner"
            >
              {%- assign desktop_number_of_products_minus_one = section.settings.desktop_products_per_row | minus: 1 -%}
              {%- assign gap_width = 16.0
                | divided_by: section.settings.desktop_products_per_row
                | times: desktop_number_of_products_minus_one
              -%}
              {%- capture sizes_attribute -%}(max-width: 740px) calc({{ 100.0 | divided_by: section.settings.mobile_products_per_row | ceil }}vw - var(--container-gutter)), calc((min(100vw - (var(--container-gutter) * 2), 1520px) - {{ sidebar_width }}px) / {{ section.settings.desktop_products_per_row }} - {{ gap_width | ceil }}px){%- endcapture -%}

              {% comment %} START PROMOTION BLOCK {% endcomment %}
              {%- for product in collection.products -%}
                <!-- -- START: Collection Image Block -- -->
                {% if forloop.index == 1 and current_page == 1 %}
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                      {%- when 'collection_image' -%}
                        {%- if has_collection_image -%}
                          {%- liquid
                            if second_collection_image
                              assign collection_img = second_collection_image.value
                            else
                              assign collection_img = collection.image
                            endif
                          -%}
                          <div class="product-facet__collection-card-image-wrapper" {{ block.shopify_attributes }}>
                            {%- capture sizes -%}100vw{%- endcapture -%}
                            <picture class="aspect-ratio aspect-ratio--wide">
                              {{-
                                collection_img
                                | image_url: width: 1500
                                | image_tag:
                                  sizes: sizes,
                                  widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500',
                                  class: 'product-facet__collection-card-image'
                              -}}
                            </picture>
                          </div>
                        {%- endif -%}
                    {%- endcase -%}
                  {%- endfor -%}
                {%- endif -%}
                <!-- -- END: Collection Image Block -- -->

                <!-- -- START: Collection Promo Block Card -- -->
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'promotion_image' -%}
                      {%- assign promo_replace_product = block.settings.replace_product -%}
                      {%- assign promo_replace_on_page = 1 -%}
                  {%- endcase -%}
                {%- endfor -%}

                {%- if forloop.index == promo_replace_product and current_page == promo_replace_on_page -%}
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                      {%- when 'promotion_image' -%}
                        {%- if collection.metafields.custom.promotion_first.value != blank -%}
                          {%- assign promo_img = collection.metafields.custom.promotion_first.value -%}
                        {%- else -%}
                          {%- assign promo_img = block.settings.promotion_img -%}
                        {%- endif -%}
                        {%- capture block_content -%}
                          <div class="product-item__image-wrapper">
                            <picture
                              class="product-item__aspect-ratio aspect-ratio{% if settings.product_image_size != 'natural' %} aspect-ratio--{{ settings.product_image_size }}{% endif %}"
                              style="padding-bottom: {{ 100.0 | divided_by: promo_img.aspect_ratio }}%; --aspect-ratio: {{ promo_img.aspect_ratio }}"
                            >
                              {{-
                                promo_img
                                | image_url: width: 740
                                | image_tag:
                                  loading: 'lazy',
                                  sizes: sizes_attribute,
                                  widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600',
                                  class: 'product-item--promotion-image'
                              -}}
                            </picture>
                          </div>
                          {%- if block.settings.button_text -%}
                          <div class="product-item__info">
                            <div class="product-item-meta">
                              <div class="button button--primary button--full">{{ block.settings.button_text }}</div>
                            </div>
                          </div>
                        {%- endif -%}
                        {%- endcapture -%}
                        {%- if promo_img != blank -%}
                          {%- if block.settings.link_url != blank -%}
                            <a
                              id="block-{{ section.id }}-{{ block.id }}"
                              href="{{ block.settings.link_url }}"
                              class="product-item product-item--promotion{% if block.settings.button_text != blank %} promotion-features--button{% endif %} promotion-features--image-zoom"
                              {{ block.shopify_attributes }}
                            >
                              {{ block_content }}
                            </a>
                          {%- else -%}
                            <div
                              id="block-{{ section.id }}-{{ block.id }}"
                              class="product-item product-item--promotion{% if block.settings.button_text != blank %} promotion-features--button{% endif %}"
                              {{ block.shopify_attributes }}
                            >
                              {{ block_content }}
                            </div>
                          {%- endif -%}
                        {%- endif -%}
                    {%- endcase -%}
                  {%- endfor -%}
                {%- endif -%}
                <!-- -- END: Collection Promo Block Card -- -->

                <!-- -- START: Product Cards -- -->
                {%- render 'product-item',
                  product: product,
                  collection: collection,
                  block: block,
                  sizes_attribute: sizes_attribute,
                  reveal: settings.stagger_products_apparition
                -%}
                <!-- -- END: Product Cards -- -->
              {%- endfor -%}
              {% comment %} END PROMOTION BLOCK {% endcomment %}
            </div>
          </product-list>

          {% comment %}
            <!-- -- START: Product Cards -- -->
            {%- render 'product-item',
              product: product,
              collection: collection,
              block: block,
              sizes_attribute: sizes_attribute,
              reveal: settings.stagger_products_apparition
            -%}
            <!-- -- END: Product Cards -- -->
          {% endcomment %}

          {% comment %}
            <div class="product-item__image-wrapper">
              <picture
                class="product-item__aspect-ratio aspect-ratio{% if settings.product_image_size != 'natural' %} aspect-ratio--{{ settings.product_image_size }}{% endif %}"
                style="padding-bottom: {{ 100.0 | divided_by: block.settings.promotion_img.aspect_ratio }}%; --aspect-ratio: {{ block.settings.promotion_img.aspect_ratio }}"
              >
                {{-
                  block.settings.promotion_img
                  | image_url: width: 740
                  | image_tag:
                    loading: 'lazy',
                    sizes: sizes_attribute,
                    widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600',
                    class: 'product-item--promotion-image'
                -}}
              </picture>
            </div>
            {%- if block.settings.button_text -%}
              <div class="product-item__info">
                <div class="product-item-meta">
                  <div class="button button--primary button--full">{{ block.settings.button_text }}</div>
                </div>
              </div>
            {%- endif -%}
          {% endcomment %}

          {%- render 'pagination', paginate: paginate, use_ajax: true -%}
        {%- endpaginate -%}
      {%- else -%}
        <div class="empty-state">
          {%- if collection.all_products_count == 0 -%}
            <span aria-hidden="true" class="empty-state__background-text">
              {{- 'collection.general.empty_background_text' | t -}}
            </span>
            <h2 class="product-facet__title h5">{{ 'collection.general.empty_title' | t }}</h2>
            <p>{{ 'collection.general.empty_label' | t }}</p>
            <div class="button-wrapper">
              <a href="{{ routes.all_products_collection_url }}" class="button button--primary">
                {{- 'collection.general.empty_button' | t -}}
              </a>
            </div>
          {%- else -%}
            <span aria-hidden="true" class="empty-state__background-text">
              {{- 'collection.general.no_results_background_text' | t -}}
            </span>
            <h2 class="product-facet__title h5">{{ 'collection.general.no_results_title' | t }}</h2>
            <p>{{ 'collection.general.no_results_label' | t }}</p>
            <div class="button-wrapper">
              <a
                href="{{ collection.url }}?sort_by={{ collection_sort_by }}"
                data-action="clear-filters"
                class="button button--primary"
              >
                {{- 'collection.general.no_results_button' | t -}}
              </a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <!-- -- START: product-facet__footer -- -->
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'collection_footer' -%}
            {%- if has_footer_collection_description -%}
              {%- assign hide_from_screen_readers = block.settings.hide_from_screen_readers -%}
              <div class="product-facet__footer text--{{ block.settings.text_alignment }}">
                <div
                  id="product-facet-footer-{{ block.id }}"
                  class="product-facet__footer-container readmore-container text--subdued bordered-{{ block.settings.separator_line }}"
                  aria-hidden="{{ hide_from_screen_readers }}"
                  {{ block.shopify_attributes }}
                >
                  <a id="anchor-{{ block.id }}"></a>
                  <!-- -- START: product-facet__footer-header -- -->
                  {%- if block.settings.show_collection_title -%}
                    <header class="product-facet__footer-header">
                      {%- if block.settings.subtitle != blank -%}
                        <span class="product-footer-facet__subtitle heading heading--large text--background">
                          {{- block.settings.subtitle -}}
                        </span>
                      {%- endif -%}
                      <h2 class="product-footer-facet__title h4">{{- collection_footer_title -}}</h2>
                    </header>
                  {%- endif -%}
                  <!-- -- START: product-facet__footer-description -- -->
                  {%- if collection_footer_description.size > block.settings.truncation_length
                    and block.settings.show_read_more
                  -%}
                    <div
                      id="readmore-short-{{ block.id }}"
                      class="product-facet__footer-description-short readmore-short rte"
                      aria-controls="readmore-full-{{ block.id }}"
                      aria-hidden="false"
                    >
                      {{- collection_footer_description | truncate: block.settings.truncation_length, '... ' -}}
                      <button
                        class="readmore-link read-link inline-button"
                        onclick="toggleReadMore('readmore-short-{{ block.id }}', 'readmore-full-{{ block.id }}', 'anchor-{{ block.id }}')"
                        role="button"
                        aria-pressed="false"
                      >
                        {{- 'general.accessibility.read_more' | t -}}
                      </button>
                    </div>
                    <div
                      id="readmore-full-{{ block.id }}"
                      class="product-facet__footer-description-full readmore-full rte"
                      aria-controls="readmore-short-{{ block.id }}"
                      aria-hidden="true"
                    >
                      {{- collection_footer_description -}}
                      <button
                        class="readless-link read-link inline-button"
                        onclick="toggleReadMore('readmore-short-{{ block.id }}', 'readmore-full-{{ block.id }}', 'anchor-{{ block.id }}')"
                        role="button"
                        aria-pressed="false"
                      >
                        {{- 'general.accessibility.read_less' | t -}}
                      </button>
                    </div>
                  {%- else -%}
                    <div class="product-facet__footer-description rte">{{- collection_footer_description -}}</div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
      <!-- -- END: product-facet__footer -- -->
    </div>
  </product-facet>
</div>

{% schema %}
{
  "name": "Collection page",
  "tag": "section",
  "class": "section shopify-section--main-collection",
  "blocks": [
    {
      "type": "collection_image",
      "name": "Collection image",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To change collection images, [edit your collections](/admin/collections). To enable a secondary collection image[create a collection metafield](/admin/settings/custom_data) named 'custom.second_image'."
        }
      ]
    },
    {
      "type": "collection_description",
      "name": "Collection description",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To change collection descriptions, [edit your collections](/admin/collections)."
        }
      ]
    },
    {
      "type": "collection_tags",
      "name": "Collection tags",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To enable collection tags, [create a metaobject](/admin/settings/custom_data) named 'collection_tags'. Connect metaobject to [create a collection metafield](/admin/settings/custom_data) named 'custom.tags'. [Add a metaobject entry](/admin/content/entries?selectedView=all). To change collection tags, [edit your collections](/admin/collections)."
        }
      ]
    },
    {
      "type": "promotion_image",
      "name": "Collection promotion",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Promotion blocks",
          "info": "Add extra information to push other collections or products."
        },
        {
          "type": "image_picker",
          "id": "promotion_img",
          "label": "Image",
          "info": ".jpg recommended using aspect ratio Square (1:1), Short (4:3), Tall (2:3)."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "range",
          "id": "replace_product",
          "label": "Replace product",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 9
        }
      ]
    },
    {
      "type": "collection_footer",
      "name": "Collection footer",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To change collection descriptions, [edit your collections](/admin/collections)."
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "show_collection_title",
          "label": "Show collection title",
          "default": true
        },
        {
          "type": "liquid",
          "id": "text",
          "label": "Text, Liquid or HTML"
        },
        {
          "type": "checkbox",
          "id": "show_collection_description",
          "label": "Show text",
          "default": true
        },
        {
          "type": "header",
          "content": "Read more trigger"
        },
        {
          "type": "checkbox",
          "id": "show_read_more",
          "label": "Show read more button",
          "default": false
        },
        {
          "type": "range",
          "id": "truncation_length",
          "label": "Truncate read more by characters",
          "min": 50,
          "max": 250,
          "step": 50,
          "default": 150
        },
        {
          "type": "header",
          "content": "Block styles"
        },
        {
          "type": "select",
          "id": "separator_line",
          "label": "Show separator line",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ],
          "default": "none"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "left"
        },
        {
          "type": "header",
          "content": "Block accessibility"
        },
        {
          "type": "checkbox",
          "id": "hide_from_screen_readers",
          "label": "Hide from screen readers",
          "default": false
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "To change collection descriptions or collection images, [edit your collections](/admin/collections)."
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "h3"
    },
    {
      "type": "checkbox",
      "id": "show_collection_text_after_title",
      "label": "Show text after title",
      "default": false,
      "info": "To enable, [create a metafield](/admin/settings/custom_data/collection/metafields) named 'custom.text_after_title'"
    },
    {
      "type": "checkbox",
      "id": "show_collection_count",
      "label": "Show results count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sort_by",
      "label": "Show sort by",
      "default": true
    },
    {
      "type": "textarea",
      "id": "custom_sort_options",
      "label": "Custom sort options",
      "placeholder": "manual?=Featured\ncreated-descending?=New Arrivals\nbest-selling?=Best Sellers\nprice-ascending?=Price, Low\nprice-descending?=Price, High",
      "info": "COMING SOON: Enter sort options one per line. Use '?=' to separate the value and display name. Example: manual?=Featured"
    },
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "label": "Products per page",
      "min": 8,
      "max": 50,
      "step": 1,
      "default": 24
    },
    {
      "type": "select",
      "id": "desktop_products_per_row",
      "label": "Products per row (desktop)",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "mobile_products_per_row",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "Aside bar"
    },
    {
      "type": "select",
      "id": "filter_appearance",
      "label": "Appearance",
      "options": [
        {
          "value": "always_visible",
          "label": "Always visible"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "always_visible"
    },
    {
      "type": "select",
      "id": "filter_position",
      "label": "Position",
      "info": "Used for Visable appearances only.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Aside filters"
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show filters",
      "info": "[Customize filters](/admin/menus)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "open_first_filter_group",
      "label": "Open first group by default",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_filter_group_name",
      "label": "Show group name inside active filters",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch filter",
      "default": true
    },
    {
      "type": "header",
      "content": "Advanced: SEO"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Heading tag",
      "options": [
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "h1",
          "label": "<h1>"
        },
        {
          "value": "h2",
          "label": "<h2>"
        },
        {
          "value": "h3",
          "label": "<h3>"
        },
        {
          "value": "h4",
          "label": "<h4>"
        }
      ],
      "default": "h1"
    },
    {
      "type": "select",
      "id": "counts_tag",
      "label": "Results count tag",
      "options": [
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "h1",
          "label": "<h1>"
        },
        {
          "value": "h2",
          "label": "<h2>"
        },
        {
          "value": "h3",
          "label": "<h3>"
        },
        {
          "value": "h4",
          "label": "<h4>"
        }
      ],
      "default": "h2"
    }
  ]
}
{% endschema %}
