{{ 'main-article.css' | asset_url | stylesheet_tag }}

<div class="article">
  <div class="article__main-part">
    <div
      class="article-container"
      data-image="left"
      style="--left-section-padding: {{ section.settings.image_padding }}px;"
    >
      <!-- START: Left Section -->
      <div class="article-left-section{% if section.settings.image_padding > 0 %} has-padding{% endif %}{% if section.settings.no_image_padding_mobile %} collapse-padding{% endif %}">
        {%- if article.image -%}
          <div class="article-image-wrapper">
            {%- capture sizes -%}(max-width: 740px) 100vw, 50vw{%- endcapture -%}
            {{
              article.image
              | image_url: width: 1500
              | image_tag:
                sizes: sizes,
                widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500',
                class: 'article-image'
            }}
          </div>
        {%- endif -%}
      </div>
      <!-- END: Left Section -->

      <!-- START: Right Section -->
      <div class="article-right-section">
        <div class="article__outer">
          <!-- SUB: Share -->
          {%- if section.settings.show_share_buttons -%}
            {%- liquid
              assign share_url = shop.url | append: article.url
              assign twitter_text = article.title | url_param_escape
              assign pinterest_description = article.excerpt_or_content | strip_html | truncatewords: 15 | url_param_escape
              assign pinterest_image = article.image | image_url: '800x' | prepend: 'https:'
            -%}
            <div class="article__share">
              <span class="article__share-label article__tags-label heading--small text--subdued visually-hidden">
                {{ 'article.general.share' | t }}
              </span>
              <div class="article__share-button-list" role="list">
                <!-- Share: Facebook -->
                <a
                  class="article__share-button-item article__share-button-item--facebook tap-area"
                  href="https://www.facebook.com/sharer.php?u={{ share_url }}"
                  target="_blank"
                  rel="noopener"
                  role="listitem"
                  aria-label="{{ 'general.social.facebook_share' | t }}"
                >
                  {%- render 'icon' with 'facebook' -%}
                </a>
                <!-- Share: Pinterest -->
                <a
                  class="article__share-button-item article__share-button-item--pinterest tap-area"
                  href="https://pinterest.com/pin/create/button/?url={{ share_url }}&media={{ pinterest_image }}&description={{ pinterest_description }}"
                  target="_blank"
                  rel="noopener"
                  role="listitem"
                  aria-label="{{ 'general.social.pinterest_pin' | t }}"
                >
                  {%- render 'icon' with 'pinterest' -%}
                </a>
                <!-- Share: Twitter -->
                <a
                  class="article__share-button-item article__share-button-item--twitter tap-area"
                  href="https://twitter.com/share?text={{ twitter_text }}&url={{ share_url }}"
                  target="_blank"
                  rel="noopener"
                  role="listitem"
                  aria-label="{{ 'general.social.twitter_tweet' | t }}"
                >
                  {%- render 'icon' with 'twitter' -%}
                </a>
                <!-- Share: Mail -->
                <a
                  class="article__share-button-item article__share-button-item--mail tap-area"
                  href="mailto:?&subject={{ article.title | escape }}&body={{ share_url }}"
                  role="listitem"
                  aria-label="{{ 'general.social.email_share' | t }}"
                >
                  {%- render 'icon' with 'share' -%}
                </a>
              </div>
            </div>
          {%- endif -%}
          <!-- SUB-END: Share -->
          <!-- SUB: Content -->
          <div class="article__inner container section">
            <!-- Content nav -->
            {%- if section.settings.show_on_scroll_navigation -%}
              <blog-post-navigation
                class="article__nav"
                {% if blog.next_article %}
                  has-next-articles
                {% endif %}
                style="--transform: 0.01"
              >
                <div class="container">
                  <div class="article__nav-wrapper">
                    {%- if blog.previous_article -%}
                      <a
                        href="{{ blog.previous_article.url }}"
                        class="article__nav-item article__nav-item--prev hidden-phone"
                      >
                        <span class="article__nav-arrow">
                          {%- render 'icon' with 'nav-arrow-left', direction_aware: true -%}
                        </span>
                        <span class="article__nav-item-title hidden-tablet">{{ blog.previous_article.title }}</span>
                      </a>
                    {%- endif -%}

                    <span class="article__nav-item article__nav-item--current">
                      {% comment %}We provide an estimate of the reading time, based on the fact that average people read 180 words per minute{% endcomment %}
                      {%- assign minutes_to_read = article.content
                        | strip_html
                        | split: ' '
                        | size
                        | divided_by: 180
                        | plus: 1
                      -%}

                      <span class="article__nav-item-time text--strong">
                        {{- 'article.general.reading_time' | t: count: minutes_to_read -}}
                      </span>
                      <span class="article__nav-item-title">{{ article.title }}</span>
                    </span>

                    {%- if blog.next_article -%}
                      <a href="{{ blog.next_article.url }}" class="article__nav-item article__nav-item--next">
                        <span class="article__nav-item-label text--strong hidden-tablet-and-up">
                          {{- 'article.general.next' | t -}}
                        </span>
                        <span class="article__nav-item-title hidden-tablet">{{ blog.next_article.title }}</span>
                        <span class="article__nav-arrow tap-area">
                          {%- render 'icon' with 'nav-arrow-right', direction_aware: true -%}
                        </span>
                      </a>
                    {%- endif -%}
                  </div>
                </div>
              </blog-post-navigation>
            {%- endif -%}
            <!-- Article header -->
            <header class="article__header-content text--{{ section.settings.header_text_alignment }}">
              <div class="section-bordered-{{ section.settings.header_separator_line }} section-bordered-{{ section.settings.header_separator_height }}">
                <!-- START: Date -->
                {%- if section.settings.show_date -%}
                  <div class="subheading-container handdrawn-circle">
                    <time
                      class="article__date heading--small"
                      datetime="{{- article.published_at | date: '%Y-%m-%d %H:%M' -}}"
                      aria-label="Published date"
                    >
                      {{- article.published_at | date: '%B %Y' -}}
                    </time>
                    <span class="icon svg-holder">
                      <svg
                        class="svg"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 123.2 66.2"
                        preserveAspectRatio="none"
                      >
                        <path class="path-one" d="M5.6,53.2c10.2,8.3,32.5,12.4,55.9,12c8.2-0.1,16.1-0.9,23.3-2.2"></path>
                        <path class="path-two" d="M84.6,62.2c22.4-4,37.6-15.6,37.6-29.4c0-13.8-16.3-25.7-39.1-30.3c-7-1.1-14.5-1.6-22.3-1.5 c-14.7,0.3-28.1,3-39,7.3C9.1,14.3,1,23,1,32.8c0,17.9,30,29.8,62.3,30.9C70.9,63.9,78,63.4,84.6,62.2"></path>
                        <path class="path-three" d="M84.8,63c13.8-2.5,25.4-6.9,32.8-12.4"></path>
                      </svg>
                    </span>
                  </div>
                {%- endif -%}
                <!-- END: Date -->
                <!-- START: Title -->
                <{{ section.settings.heading_tag }} class="article__title h2">
                  {{- article.title -}}
                </{{ section.settings.heading_tag }}>
                <!-- END: Title -->
                <!-- START: Excerpt -->
                {%- if article.excerpt != blank -%}
                  <{{ section.settings.excerpt_tag }} class="article__excerpt heading text--xlarge rte">
                    {{- article.excerpt -}}
                  </{{ section.settings.excerpt_tag }}>
                {%- endif -%}
                <!-- END: Excerpt -->
                <!-- START: Meta -->
                {%- if section.settings.show_author or article.comments_enabled? -%}
                  <div class="article__meta">
                    {%- if section.settings.show_author -%}
                      <span class="article__author article__meta-item">
                        <!-- START collection image -->
                        {%- if section.settings.author_image != blank -%}
                          {%- capture sizes -%}(max-width: {{ section.settings.author_image.width | times: 2 }}px) 50vw, {{ section.settings.author_image.width }}px{%- endcapture -%}
                          {%- assign thumbnail_height = section.settings.author_image.width
                            | divided_by: section.settings.author_image.aspect_ratio
                          -%}
                          <div class="author-image author-image--{{ section.settings.author_image_size }}">
                            {{-
                              section.settings.author_image
                              | image_url: width: 600, crop: 'center'
                              | image_tag:
                                class: 'author-img',
                                widths: '24,40,48,56,72,80,84,96,112,120,144,168',
                                height: thumbnail_height,
                                width: section.settings.author_image.width,
                                sizes: sizes,
                                preload: true
                            -}}
                          </div>
                        {%- endif -%}
                        <!-- END collection image -->
                        {{- 'article.general.written_by' | t: author: article.author -}}
                      </span>
                    {%- endif -%}
                    {%- if article.comments_enabled? -%}
                      <a
                        href="#blog-post-{{ article.id }}-comments"
                        data-smooth-scroll
                        class="article__meta-item article__comments-count text--subdued link icon-text"
                      >
                        {%- render 'icon' with 'comment' -%}
                        {{- 'article.comments.comments_count' | t: count: article.comments_count -}}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
                <!-- END: Meta -->
              </div>
              <!-- START: Tags -->
              {%- if article.tags.size > 0 and section.settings.show_category != 'none' -%}
                <div class="article__tags pill-list-wrapper list-is-scroller">
                  <ul class="pill-list" role="list">
                    <li class="article__tags-label" role="listitem">
                      <{{ section.settings.tags_label_tag }} class="heading--small text--subdued">
                        {%- if section.settings.show_category == 'first' -%}
                          {{ 'article.general.tags.one_no_number' | t }}
                        {%- else -%}
                          {{ 'article.general.tags' | t: count: article.tags.size }}
                        {%- endif -%}
                      </{{ section.settings.tags_label_tag }}>
                    </li>
                    {%- if section.settings.show_category == 'first' -%}
                      {%- assign tag_limit = 1 -%}
                    {%- else -%}
                      {%- assign tag_limit = 10 -%}
                    {%- endif -%}
                    {%- for tag in article.tags limit: tag_limit -%}
                      <li class="pill-list--item" role="listitem">
                        <a
                          href="{{ blog.url }}/tagged/{{ tag | handle }}"
                          class="pill pill-button text--semibold text--small"
                        >
                          {{- tag -}}
                          <span
                            class="pill-icon icon-to-right text--muted"
                            aria-label="{{ 'article.general.tagged' | t: tag: tag }}"
                          >
                            {%- render 'icon' with 'link-external-arrow', direction_aware: true, class: 'tap-area' -%}
                          </span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
              <!-- END: Tags -->
            </header>
            <!-- Related products -->
            <div
              id="article-content"
              class="article__content text--{{ section.settings.text_alignment }}"
              role="main"
            >
              <div class="rte">
                {%- assign article_content = article.content | split: '<a' -%}
                {%- assign original_handles = '' -%}
                {%- for item in article_content -%}
                  {%- unless forloop.first -%}
                    {%- assign href = item | split: 'href="' | last -%}
                    {%- if href contains '/products/' -%}
                      {%- assign details = href | split: '/products/' | last | split: '"' | first -%}
                      {%- assign product_handle = details | url_encode -%}
                      {%- assign original_handles = original_handles | append: product_handle | append: ',' -%}
                      {%- assign product = all_products[product_handle] -%}
                      {%- assign is_available = product.available | default: false -%}
                      {%- assign css_class = 'available-product-link' -%}
                      {%- assign wrapper_class = 'available-product-wrapper' -%}
                      {%- unless is_available -%}
                        {%- assign css_class = 'unavailable-product-link' -%}
                        {%- assign wrapper_class = 'unavailable-product-wrapper' -%}
                      {%- endunless -%}
                      {%- if is_available -%}
                        {%- assign tooltip_attribute = '' -%}
                      {%- else -%}
                        {%- assign tooltip_attribute = 'title="Item is not available"' -%}
                      {%- endif -%}

                      {{-
                        '<span class="'
                        | append: wrapper_class
                        | append: '" '
                        | append: tooltip_attribute
                        | append: '><a class="'
                        | append: css_class
                        | append: '" data-product-available="'
                        | append: is_available
                        | append: '"'
                        | append: item
                        | append: '</a></span>'
                      -}}
                    {%- else -%}
                      {{- '<a' | append: item -}}
                    {%- endif -%}
                  {%- else -%}
                    {{- item -}}
                  {%- endunless -%}
                {%- endfor -%}
                <!-- JavaScript to modify article content links -->
                <script>
                  document.addEventListener('DOMContentLoaded', function () {
                    const articleContent = document.getElementById('article-content');
                    articleContent.querySelectorAll('a').forEach((link) => {
                      const { href } = link;
                      if (!href || !href.includes('/products/')) return;
                      const isAvailable = link.dataset.productAvailable === 'true';
                      if (link.target === '_blank' && !/(noopener|noreferrer)/.test(link.rel)) {
                        link.rel += ' noopener noreferrer';
                      }
                      if (!isAvailable) {
                        link.rel += ' nofollow';
                        link.setAttribute('aria-disabled', 'true');
                      }
                    });
                  });
                </script>
              </div>
            </div>
            <!-- Related products block -->
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'related_products' -%}
                  {%- assign extra_handles = '' -%}
                  {%- if article.metafields.custom.related_products.value != blank -%}
                    {%- for extra_product in article.metafields.custom.related_products.value -%}
                      {%- if extra_product.product != blank -%}
                        {%- assign extra_handles = extra_handles
                          | append: extra_product.product.handle
                          | append: ','
                        -%}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                  {%- assign combined_handles = original_handles | append: extra_handles -%}
                  {%- assign handles_arr = combined_handles | split: ',' | compact | uniq -%}
                  <div
                    class="related{% if block.settings.scroll_on_mobile %} related-articles--mobile-slider{% endif %} section-bordered-{{ block.settings.separator_line }}"
                    {{ block.shopify_attributes }}
                  >
                    <header class="related-articles--header section__header section__header--full-width section__header--{{ block.settings.text_alignment }} text--{{ block.settings.text_alignment }} bordered-{{ block.settings.header_separator_line }}">
                      <{{ block.settings.heading_tag }} class="{{ block.settings.title_size }}">
                        {%- liquid
                          if block.settings.title != blank
                            assign title = block.settings.title
                          else
                            assign title = 'article.related.items' | t
                          endif
                        -%}
                        {{- title -}}
                      </{{ block.settings.heading_tag }}>
                    </header>
                    <!-- Related products list -->
                    <ul
                      {% if settings.stagger_blog_posts_apparition %}
                        stagger-apparition
                      {% endif %}
                      class="card-grid"
                    >
                      {%- for handle in handles_arr limit: 20 -%}
                        {%- assign product = all_products[handle] -%}
                        {%- if product.id != blank -%}
                          <li class="card">
                            {%- capture sizes_attribute -%}(max-width: 740px) 75vw, min(100vw, 1520px){%- endcapture -%}
                            {%- render 'product-item',
                              product: product,
                              sizes_attribute: sizes_attribute,
                              reduced_content: true
                            -%}
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
            <!-- Related articles -->
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'related_articles' -%}
                  {%- if blog.previous_article or blog.next_article -%}
                    <div
                      class="related-articles{% if block.settings.scroll_on_mobile %} related-articles--mobile-slider{% endif %} section-bordered-{{ block.settings.separator_line }}"
                      {{ block.shopify_attributes }}
                    >
                      <!-- Related articles header -->
                      <header class="related-articles--header section__header section__header--full-width section__header--{{ block.settings.text_alignment }} text--{{ block.settings.text_alignment }} bordered-{{ block.settings.header_separator_line }}">
                        <{{ block.settings.heading_tag }} class="related-articles--title {{ block.settings.title_size }}">
                          {%- liquid
                            if block.settings.title != blank
                              assign title = block.settings.title
                            else
                              assign title = 'article.general.continue_reading' | t
                            endif
                          -%}
                          {{- title -}}
                        </{{ block.settings.heading_tag }}>
                      </header>
                      <!-- Related articles list -->
                      <ul
                        {% if settings.stagger_blog_posts_apparition %}
                          stagger-apparition
                        {% endif %}
                        class="card-grid"
                      >
                        <li class="card">
                          {%- if blog.next_article -%}
                            {%- render 'article-item',
                              article: blog.next_article,
                              heading_tag: block.settings.block_heading_tag,
                              heading_size: block.settings.title_size,
                              content_align: block.settings.content_text_alignment
                            -%}
                          {%- endif -%}
                        </li>
                        <li class="card">
                          {%- if blog.previous_article -%}
                            {%- render 'article-item',
                              article: blog.previous_article,
                              heading_tag: block.settings.block_heading_tag,
                              heading_size: block.settings.title_size,
                              content_align: block.settings.content_text_alignment
                            -%}
                          {%- endif -%}
                        </li>
                      </ul>
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
          <!-- SUB-END: Content -->
        </div>
      </div>
      <!-- END: Right Section -->
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "class": "shopify-section--main-article",
  "blocks": [
    {
      "type": "related_products",
      "name": "Related products",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "separator_line",
          "label": "Show separator line",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "Header"
        },
        {
          "type": "select",
          "id": "header_separator_line",
          "label": "Show separator line",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ],
          "default": "bottom"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },
            {
              "value": "h6",
              "label": "Heading 6"
            }
          ],
          "default": "h5"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "scroll_on_mobile",
          "label": "Scroll on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Advanced: SEO"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "<h1>"
            },
            {
              "value": "h2",
              "label": "<h2>"
            },
            {
              "value": "h3",
              "label": "<h3>"
            },
            {
              "value": "h4",
              "label": "<h4>"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "related_articles",
      "name": "Related articles",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Previous and next article will be displayed (if they exists)."
        },
        {
          "type": "select",
          "id": "separator_line",
          "label": "Show separator line",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "Header"
        },
        {
          "type": "select",
          "id": "header_separator_line",
          "label": "Show separator line",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ],
          "default": "bottom"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },
            {
              "value": "h6",
              "label": "Heading 6"
            }
          ],
          "default": "h5"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "content_text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "scroll_on_mobile",
          "label": "Scroll on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Advanced: SEO"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "<h1>"
            },
            {
              "value": "h2",
              "label": "<h2>"
            },
            {
              "value": "h3",
              "label": "<h3>"
            },
            {
              "value": "h4",
              "label": "<h4>"
            }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "block_heading_tag",
          "label": "Block heading tag",
          "options": [
            {
              "value": "h1",
              "label": "<h1>"
            },
            {
              "value": "h2",
              "label": "<h2>"
            },
            {
              "value": "h3",
              "label": "<h3>"
            },
            {
              "value": "h4",
              "label": "<h4>"
            }
          ],
          "default": "h3"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "To change collection descriptions or collection images, [edit your collections](/admin/collections)."
    },
    {
      "type": "checkbox",
      "id": "show_on_scroll_navigation",
      "label": "Show on scroll navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "range",
      "id": "image_padding",
      "label": "Padding",
      "min": 0,
      "max": 20,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "no_image_padding_mobile",
      "label": "Collapse padding on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "select",
      "id": "header_text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "header_separator_line",
      "label": "Show separator line",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "header_separator_height",
      "label": "Separator line height",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "tight",
          "label": "Tight"
        }
      ],
      "default": "tight"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author image"
    },
    {
      "type": "select",
      "id": "author_image_size",
      "label": "Image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "xlarge",
          "label": "Larger"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "show_category",
      "label": "Show tags",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "all",
          "label": "Always"
        },
        {
          "value": "first",
          "label": "First tag"
        }
      ],
      "default": "all"
    },
    {
      "type": "header",
      "content": "Advanced: SEO"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "<h1>"
        },
        {
          "value": "h2",
          "label": "<h2>"
        },
        {
          "value": "h3",
          "label": "<h3>"
        },
        {
          "value": "h4",
          "label": "<h4>"
        }
      ],
      "default": "h1"
    },
    {
      "type": "select",
      "id": "excerpt_tag",
      "label": "Excerpt tag",
      "options": [
        {
          "value": "span",
          "label": "<span>"
        },
        {
          "value": "h2",
          "label": "<h2>"
        },
        {
          "value": "h3",
          "label": "<h3>"
        },
        {
          "value": "h4",
          "label": "<h4>"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "tags_label_tag",
      "label": "Tags label tag",
      "options": [
        {
          "value": "span",
          "label": "<span>"
        },
        {
          "value": "h2",
          "label": "<h2>"
        },
        {
          "value": "h3",
          "label": "<h3>"
        },
        {
          "value": "h4",
          "label": "<h4>"
        }
      ],
      "default": "span"
    }
  ]
}
{% endschema %}
