{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --prev-next-button-background: {{ settings.background.red }}, {{ settings.background.green }}, {{ settings.background.blue }};
    --prev-next-button-color: {{ settings.text_color.red }}, {{ settings.text_color.green }}, {{ settings.text_color.blue }};

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
    --section-products-per-row: 2;
  }

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} {
      --section-products-per-row: 3;
    }
  }

  @media screen and (min-width: 1200px) {
    #shopify-section-{{ section.id }} {
      --section-products-per-row: 4;
    }
  }
</style>

<recently-viewed-products
  section-id="{{ section.id }}"
  products-count="{{ section.settings.products_count | escape }}"
  {% if request.page_type == 'product' %}
    exclude-product-id="{{ product.id | escape }}"
  {% endif %}
  class="section{% unless blends_with_background %} section--flush{% endunless %}"
>
  {%- if request.page_type == 'search' and search.performed and search.results_count > 0 -%}
    <div class="section__color-wrapper">
      <div class="container{% unless blends_with_background %} vertical-breather{% endunless %}">
        <!-- START: Section header -->
        {%- if section.settings.title != blank or section.settings.subheading != blank -%}
          <header class="section__header section__header--full-width section__header--{{ section.settings.text_alignment }} text--{{ section.settings.text_alignment }} bordered-{{ section.settings.header_separator_line }}">
            {%- if section.settings.subheading != blank -%}
              <{{ section.settings.subheading_tag }} class="section__header-subtitle heading--small text--subdued">
                {{- section.settings.subheading -}}
              </{{ section.settings.subheading_tag }}>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              <{{ section.settings.title_tag }} class="section__header-title {{ section.settings.title_size }}">
                {{- section.settings.title -}}
              </{{ section.settings.title_tag }}>
            {%- endif -%}
          </header>
        {%- endif -%}
        <!-- END: Section header -->
        <product-list
          {% if settings.stagger_products_apparition %}
            stagger-apparition
          {% endif %}
          class="product-list product-list--{{ section.settings.grid_alignment }}"
        >
          {%- assign smallest_image_aspect_ratio = 0 -%}
          <div class="scroller">
            <div class="product-list__inner product-list__inner--scroller hide-scrollbar">
              {%- comment -%}
                NOTE: we are doing an inner for loop to preserve the order (from most recently seen to oldest one), as search.results, out of the box,
                will order by title, which is not really desirable.
              {%- endcomment -%}
              {%- assign parsed_terms = search.terms | split: ' OR ' -%}
              {%- for parsed_term in parsed_terms -%}
                {%- assign id = parsed_term | split: 'id:' | last | times: 1 -%}
                {%- for product in search.results -%}
                  {%- if product.id == id -%}
                    {%- assign smallest_image_aspect_ratio = smallest_image_aspect_ratio
                      | at_least: product.featured_media.aspect_ratio
                    -%}
                    {%- capture sizes_attribute -%}(max-width: 740px) 75vw, min({{ 100.0 | divided_by: 4 | ceil }}vw, {{ 1520.0 | divided_by: 4 | ceil }}px){%- endcapture -%}
                    {%- render 'product-item',
                      product: product,
                      sizes_attribute: sizes_attribute,
                      reveal: settings.stagger_products_apparition,
                      reduced_content: true
                    -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            </div>
          </div>

          {%- if search.results_count > 4 -%}
            <prev-next-buttons
              class="product-list__prev-next hidden-pocket"
              style="--smallest-image-aspect-ratio: {{ smallest_image_aspect_ratio }}"
            >
              <button class="product-list__arrow prev-next-button prev-next-button--prev" disabled data-action="prev">
                <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
                {%- render 'icon' with 'nav-arrow-left', block: true, direction_aware: true -%}
              </button>

              <button class="product-list__arrow prev-next-button prev-next-button--next" data-action="next">
                <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
                {%- render 'icon' with 'nav-arrow-right', block: true, direction_aware: true -%}
              </button>
            </prev-next-buttons>
          {%- endif -%}
        </product-list>
      </div>
    </div>
  {%- endif -%}
</recently-viewed-products>

{% schema %}
{
  "name": "Recently viewed products",
  "tag": "section",
  "class": "shopify-section--recently-viewed-products",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "Section is hidden if no products have been visited."
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "select",
      "id": "header_separator_line",
      "label": "Show separator line",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Recently viewed"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "h5"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "select",
      "id": "grid_alignment",
      "label": "Grid alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "products_count",
      "min": 4,
      "max": 20,
      "label": "Products count",
      "default": 4
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "Advanced: SEO"
    },
    {
      "type": "select",
      "id": "subheading_tag",
      "label": "Subheading tag",
      "options": [
        {
          "value": "span",
          "label": "<span>"
        },
        {
          "value": "h1",
          "label": "<h1>"
        },
        {
          "value": "h2",
          "label": "<h2>"
        },
        {
          "value": "h3",
          "label": "<h3>"
        },
        {
          "value": "h4",
          "label": "<h4>"
        }
      ],
      "default": "span"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Heading tag",
      "options": [
        {
          "value": "span",
          "label": "<span>"
        },
        {
          "value": "h1",
          "label": "<h1>"
        },
        {
          "value": "h2",
          "label": "<h2>"
        },
        {
          "value": "h3",
          "label": "<h3>"
        },
        {
          "value": "h4",
          "label": "<h4>"
        }
      ],
      "default": "h2"
    }
  ],
  "presets": [
    {
      "name": "Recently viewed products"
    }
  ]
}
{% endschema %}
